.heading {
  font-family: $secondary-font;
  color: $heading-color;
  font-size: 28px;
  position: relative;
  margin-top: 60px;
  margin-bottom: 30px;
  &::before {
    content: "";
    width: 50px;
    height: 4px;
    background-color: $bg-bf-heading;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0, -150%);
  }
}
