.post-title {
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 10px;
  a {
    display: block;
  }
  &.normal {
    font-size: 18px;
  }
  &.bigest {
    font-size: 36px;
  }
  &.big {
    font-size: 22px;
  }
  &.white {
    color: white;
  }
  &.black {
    color: $gray23;
  }
}
