.dashboard {
  max-width: 1600px;
  margin: 0 auto;
  &-heading {
    margin-bottom: 40px;
  }

  &-title {
    font-weight: bold;
    font-size: 36px;
    color: $primary-color;
    letter-spacing: 1px;
  }

  &-decs {
    color: $gray6B;
    font-size: 14px;
    font-style: italic;
    font-weight: 500;
  }

  &-main {
    display: grid;
    grid-template-columns: 300px minmax(0, 1fr);
    padding: 40px 20px;
    gap: 0 40px;
    align-items: start;
  }
}
