// color
$primary-color: #2ebac1;
$secondary-color: #a4d96c;
$label-color: #292d32;
$input-color: #e7ecf3;
$error-color: #ff543d;
$text-primary: #23bb86;
$placeholder-color: #84878b;
$heading-color: #3a1097;
$bg-bf-heading: #00d1ed;
$grayF3: #f3edff;
$gray6B: #6b6b6b;
$gray23: #232323;
// fonts
$primary-font: "Poppins", sans-serif;
$secondary-font: "Montserrat", sans-serif;

$wrapper: 1920px;
$container: 1200px;
